body {
    
}

header{
    font-style: ;
}

#banner {
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.Titulo-centralizado {
    text-align: center;
    color: blue;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.beneficios{
    background: white;
    padding: 20px;
}

.imagemBeneficios{
    width: 50%;

}