body{
    background: black;
}
header{
    background: #BBBBBB;
    padding: 10px 0;
}

.caixa{
    position: relative;
    width: 980px;
    margin: 0 auto;
}

h1{
    margin: 0;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
    width: auto;
}

nav ul{
    display: inline;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.Titulo-centralizado {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0 10px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
    margin: 20px 0;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
    margin: 20px auto;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.beneficios{
    background: #BBBBBB;
    padding: 20px 50px 0px 20px;
}

.beneficios ul{
    position: relative;
    bottom: 150px;
    left: 100px;
    font-size: 18px;
    font-weight: bold;
}

.imagemBeneficios{
    width: 50%;
    position: relative;
    left: 357px;
    top: 10px;
}